@using Jmelosegui.Mvc.GoogleMap
@model MedInfo_OOSD.Models.DoctorDetailsViewModel

@{
    ViewBag.Title = "DoctorDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table class="table table-hover">
    <tr>
        <th>Name: </th>
        <th>@Model.Name</th>
    </tr>

    <tr>
        <th>Speciality: </th>
        <th>@Model.Speciality.Name</th>
    </tr>


    <tr>
        <th>Available Days: </th>
        <th>@Model.AvailableDays</th>
    </tr>


    <tr>
        <th>Chember Address: </th>
        <th>@Model.ChemberAddress</th>
    </tr>

    <tr>
        <th>Email: </th>
        <th>@Model.Email</th>
    </tr>


</table>


@( Html.GoogleMap()
       .Name("map")
       .Height(300)
           .Center(c => c.Address(Model.ChemberAddress))
       .Markers(m => m.Add()).ApiKey(Model.ApiKey) ) <br/> <br/>

@if (Model.Comments.Any())
{
    foreach (var comment in Model.Comments)
    {
        <div class="panel panel-default" style="width: 40%">
            <div class="panel-heading">@comment.ApplicationUser.Email @comment.CommentDateTime.ToString("f")</div>
            <div class="panel-body">@comment.PostComment</div>
        </div>
    }
}



@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("AddDoctorComment", "Doctor", new { id = @Model.Id }))
    {
        <div class="form-group">
            @Html.TextAreaFor(model => model.Comment.PostComment, new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.Comment.PostComment)
        </div>
        @Html.AntiForgeryToken()
        <button class="btn btn-primary">Comment</button>
    }


}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @(Html.GoogleMap().ScriptRegistrar())
}