@model MedInfo_OOSD.Models.ApproveListViewModel

@{
    ViewBag.Title = "Approve List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Approve List</h2>

@using (Html.BeginForm("ApproveList","Approve"))
{
    <div class="form-group">
        @Html.DropDownList("id",new []
        {
            new SelectListItem{ Text = "Doctors",Value = "1", Selected = true}, 
            new SelectListItem{Text = "Hospitals", Value = "2"}, 
        },new {@class = "form-control"})
    </div>
    @Html.AntiForgeryToken()
    <button class="btn btn-primary" style="margin-bottom: 10px">Get</button>
}

<table class="table table-hover table-bordered" id="approve">

    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model.Entities)
        {
            <tr>
                <td>@Html.ActionLink(entity.Name, Model.Action, Model.Controller, new { id = entity.Id }, new { @class = "btn btn-link" })</td>
                <td>@entity.Email</td>
                <td><button class="btn btn-primary js-approve" data-id="@entity.Id" data-api="@Model.Api">Approve</button></td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#approve").DataTable();

            $("#approve").on("click", ".js-approve", function () {

                var button = $(this);

                bootbox.confirm("Are you sure to approve this record ?", function (result) {

                    if (result) {

                        $.ajax({
                            url: "/api/" + button.attr("data-api") + "/" + button.attr("data-id"),
                            method: "PUT",
                            success: function () {

                                table.row(button.parents("tr")).remove().draw();
                                toastr.success("Record Approved");
                            }
                        });

                    }
                });

            });

        });
    </script>
}
